In [64]:
import pandas as pd
import numpy as np

In [65]:
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### 1. Adding a new column

In [66]:
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

### 2. Adding a new column with an array

In [67]:
language_score = np.arange(0, 1000)

In [68]:
len(language_score)

1000

In [69]:
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [70]:
int_language_score = np.random.randint(1,100, size= 1000) 

# used numpy to generate the random numbers between 1 and 100
# for the random integer, min value is inclusive and max value is exclusive

In [71]:
df_exams['language score'] = int_language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,54
1,female,group C,some college,standard,completed,69,90,88,17
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,78
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,54
996,male,group C,high school,free/reduced,none,62,55,55,91
997,female,group C,high school,free/reduced,completed,59,71,65,61
998,female,group D,some college,standard,completed,68,78,77,64
999,female,group D,some college,free/reduced,none,77,86,86,97

In [72]:
random_float = np.random.uniform(1, 100, size=1000)
random_float

# creating a random float with numpy

array([33.24844394, 44.20478765, 89.85882482, 24.22777456, 89.12897961,
       39.5768211 , 44.38643955, 42.00807093, 45.1125294 ,  3.33763964,
       68.6221194 , 91.36601519,  7.1400005 , 85.66194158, 86.26364429,
       50.99882959, 80.44508035, 12.27259178, 40.83020916, 88.15462269,
       75.91963467, 87.05576408, 70.42944525, 94.61255615,  7.89092616,
       23.34228898, 96.90489038, 74.74222044,  9.71090118, 10.92934999,
       16.93159985, 56.32374493,  8.08513704, 15.0557081 , 62.89375333,
       98.24103665, 46.96500135, 41.86568629, 48.94707829, 16.05689257,
       52.21765349, 27.45873068, 34.45336511, 47.32316208, 52.99077306,
       29.45048422, 30.0410918 , 83.45787841, 49.60756839, 57.97392881,
       16.22982548, 52.22680744, 95.18400935, 45.21061735, 95.83793371,
       91.52032964, 25.28341084, 15.95738656, 80.88928721, 76.52047814,
       92.12625453, 28.64384133, 71.36487874, 84.72041694, 40.01476179,
       62.99349344, 17.05323426, 32.5568245 , 39.29471513, 55.26782333,
       82.24801205, 70.26864592, 20.36584931, 10.93338614, 32.01614866,
       13.87226745, 65.43343305, 75.54273772, 43.14357217, 88.51017247,
       92.54080457, 46.68935884, 62.52455275, 41.61980536, 10.63904734,
       11.86963468,  3.48743537, 80.28565416, 62.27401203, 41.09072671,
       14.95304416, 46.9721645 ,  8.83038029, 16.83380585, 67.9037322 ,
       65.0499255 , 81.0851798 , 67.99385615, 47.35589843, 10.12187749,
       84.37154279, 62.03044731,  4.70376484, 26.46204473, 86.81863422,
       39.33476974, 47.18270938, 85.56662147, 49.19707153, 60.866954  ,
       53.83572407, 79.49552008, 52.86646567, 95.6066739 , 10.15275993,
        2.36998424, 61.50269351, 36.68508414, 28.6748219 ,  2.63990509,
       17.36565854,  6.92483272, 25.36386029, 19.63281343, 52.44390386,
       96.10244181, 94.45749912, 73.24297406, 18.62357528, 23.70943555,
       41.82144883, 91.00626907, 57.0888663 , 38.713583  , 16.43675733,
       68.48349889, 42.91138494, 70.49202515, 48.56079192, 32.11932521,
       13.67197916, 98.72953735, 60.25288609, 26.69027488, 95.22540806,
       12.36009517, 47.56717875, 30.95129854, 14.92476644, 40.2652524 ,
       13.27457612, 58.51098966, 56.83454059, 72.00230303, 96.93399562,
       63.75064653,  1.36449111, 55.23139407, 16.77202716, 81.06849735,
       59.30919652, 78.12986542, 54.96429479, 82.69683668, 30.71326757,
       24.71255961, 46.14371416, 25.07207202, 42.16547643, 84.82684235,
       19.96152849, 69.54930239, 47.95214348, 74.97899885, 17.56820675,
       10.05139485, 82.27434525, 49.43948437, 88.83425686, 66.64129383,
       16.68202851, 96.28388314, 39.20933338, 85.28505196, 69.10200908,
        6.80494009, 18.03196014, 89.76141192, 28.08573707, 84.75722605,
       62.65214382, 81.04590262, 65.24279979, 82.49263303,  5.79429683,
       38.39456864, 64.38639846, 67.00756533, 64.26780939, 45.52084868,
       80.89150289, 34.29138333,  6.43448451, 88.1767292 , 65.61164245,
       59.16975933, 67.15237438, 78.16345643, 48.90572249, 90.44802176,
       44.821939  ,  8.24931849, 28.81629476, 72.14971786, 70.28478783,
       38.63233166, 47.79763905, 69.43320623, 76.54278192, 49.06245839,
       67.73263608, 55.73728477, 47.34311145, 23.05985732, 46.59214969,
       61.56754704, 85.42819712, 79.51037218, 40.37615196,  6.31416828,
       48.99130219, 21.50193017, 83.44203715, 41.38724285, 90.14676911,
       88.23325996, 78.20215585, 38.37770788, 66.25610688, 38.15132441,
       18.60332486, 39.37843744, 27.20310896, 54.72431837, 69.45552806,
       24.25521126, 91.62812337, 44.69902684, 15.00144298, 45.98444206,
       35.92696388, 38.5773427 , 40.96442533, 59.12990483, 90.69910715,
       43.99471075, 79.4931843 , 10.82872912,  7.92092236, 16.28993148,
       93.49037375, 58.96655823, 15.00747192, 47.37224631, 58.36505743,
       58.46697276, 56.32160523, 90.16483541, 12.28020158, 50.98368839,
       85.71973685, 82.03254964, 20.2868992 , 55.49436729, 50.5828906 ,
       15.03874571, 26.17448042, 15.14204501, 28.98080556, 72.68427607,
       94.78598032, 49.28403232, 39.33216629, 85.76708335, 85.68124071,
       55.17131739, 79.37063662, 47.68054641, 13.22332007, 52.14557991,
       47.9652117 , 45.44078168, 99.14931303, 17.73164035, 30.01712912,
       80.68103553, 32.27213175, 70.7139568 , 93.93007632, 73.6710764 ,
       76.33500281, 36.07730209, 68.67716229, 67.62620926, 11.51322655,
       76.91331793, 30.82406887, 24.5744759 , 69.1092216 , 42.2564822 ,
       86.42925888, 83.11444204, 47.77813418, 22.41828556, 69.65594129,
       61.0827439 , 64.3363842 , 29.79258911, 44.2336573 , 16.27443281,
       30.20153866, 90.1265247 , 26.28969747, 59.54158504, 13.32856264,
       66.58741195, 19.40743939, 86.73464755, 16.48053973, 13.80459965,
       95.93397879, 92.01479598, 27.76869259, 75.12256192, 36.55260529,
       92.87574089, 89.21907978, 95.23824779, 20.70853654, 78.51556597,
       58.91541879, 33.42530937,  2.48643104, 14.02748827, 58.67006876,
       25.73141512, 77.19374661, 96.75137952, 49.24997515,  3.73192474,
       83.03642665, 86.72529295,  5.88172185, 98.43841609, 24.25499908,
       27.0217626 , 43.62585456, 77.06846556, 28.73040872, 61.58401948,
       89.295686  , 50.2856741 , 66.34778354, 13.13918485, 97.43076267,
       32.17384432, 27.49495235, 56.50529526, 52.80184113, 26.12281221,
       66.13924393, 97.96180103, 47.82203388, 88.84461595, 88.68043415,
       82.13236259, 69.13233118, 67.71478565, 94.0776835 , 78.27180418,
       32.94059109, 10.48003691, 13.88225701, 10.99861136, 65.52512984,
       97.38023404, 78.04686575, 38.78605484, 30.5457338 , 97.82275882,
       99.87445852, 71.10099141, 33.65585087, 39.19221138, 98.22209725,
       77.10574263, 19.92901014, 74.42901654,  5.10037788, 82.77094288,
       59.00479998, 81.45545178, 29.04453748, 63.42575797, 61.48535497,
       12.78338586, 33.79287769, 32.72956587, 70.59857442, 80.29948224,
       18.79277015,  2.78491229, 84.02797205, 18.33754932, 12.57582495,
       97.71113316, 70.10476273, 52.4712821 , 39.23125925, 51.78298843,
       59.37093155, 73.23370798, 53.07835841, 89.55412621, 74.52907382,
       29.7359167 , 19.47565582, 92.0722557 , 88.17391415, 53.83979131,
       71.06172319, 15.45354835, 74.75671255, 64.6734287 , 74.41901344,
       37.15824726, 10.24963124, 81.90910261, 86.54577731, 57.21217598,
       69.24865562, 66.91648499, 20.55248786, 64.84237913,  7.60134348,
       91.08798771, 75.81197026, 33.94265335, 58.21751094, 93.14124555,
       99.41214783, 18.10164641, 42.51311386, 83.79823117, 97.73191068,
        9.41997664, 47.33116004, 62.61273537, 44.9825492 , 95.60139717,
       86.71729656, 64.57308388, 52.67236409,  6.07419104, 70.36198951,
       92.21318447, 44.6062822 , 64.20788523,  5.657496  , 15.15279875,
       76.2583302 ,  4.69856494, 81.86231308, 48.73428988, 19.02930191,
       76.88397472,  5.07616275, 62.45768129, 75.42312993, 30.27909199,
       50.16723276, 91.16469723, 64.87558768,  6.96055624, 95.90522792,
       48.76598261, 17.65108035, 45.54140071,  6.96098888, 16.46223696,
       36.3819679 , 40.00893868, 33.70296238, 79.96922417, 18.39791392,
       55.78903908, 90.58978795, 95.87265831, 94.05806583, 69.68791487,
       17.26332425,  1.40559738, 22.03292484, 17.30520774,  9.3060742 ,
       91.57677808, 65.45316667, 80.65124927, 54.31609663, 71.2145354 ,
       53.72455277, 37.21228865, 38.90510059, 17.70657261, 81.08348032,
       64.02630023, 23.56388677, 77.04596504, 68.13498313, 66.00206347,
       75.78388879, 55.75734287,  6.75637298, 15.59535021, 98.20307059,
       19.72707298, 65.72176976, 60.623869  , 88.91063679, 64.73760841,
       86.64192312, 76.52413639, 25.09083447, 77.75566462, 77.23348745,
       59.10852994, 29.19717451, 44.7877965 , 72.74449192, 95.57984559,
       55.81325328, 26.84829906, 26.44440418,  4.62863931, 59.94328538,
       73.66450508, 43.54139363, 37.10751396, 70.22468084, 50.16057357,
       46.41541974, 96.20758814, 69.16146548, 91.58263642, 25.7524092 ,
       54.33447961, 75.11257753, 24.26497606, 23.50173425, 13.31667058,
       45.74379494, 59.21386324, 79.91601967, 36.33225616, 94.94337825,
        6.58053791, 87.64382852, 69.85761695, 26.48307261, 19.3715043 ,
       22.88599296, 13.00057796, 80.35408174, 62.57321538, 80.02807972,
        1.76372046, 64.88501027, 73.43209018, 94.99608354, 52.7468079 ,
       97.03088494, 88.79292731, 44.34367059, 60.4435479 , 31.43470006,
       56.88140497, 87.34873113, 86.26469189, 98.08478875, 33.60557406,
       85.86882793, 82.37694699, 60.80651942, 28.17939577,  7.14592533,
       91.8978989 , 52.37296416, 25.75716807, 74.74251462, 97.75607841,
       36.17288956, 23.92609622, 69.85717123, 57.56684567, 80.86073391,
       82.29839792, 87.11182052, 61.67334379, 24.59863436, 39.96143755,
       11.44256567, 32.57492827, 32.21299901, 20.7281762 , 67.29559368,
       80.20008285,  9.74150419, 42.69629416, 44.80239259, 13.58924683,
       14.91940876, 73.7444131 ,  6.74723748,  4.63211083, 65.50181871,
       14.07890766,  1.68334235, 98.1997183 ,  3.30043593, 16.28072929,
       13.74868162, 75.30050765, 98.5905289 , 28.82055265,  2.7391511 ,
       75.56495798, 72.85550823, 24.78450061, 40.67457003, 49.75019499,
       26.34784449, 28.08100506, 78.54945974, 28.73310763, 68.44488278,
       23.65660363, 34.55369085,  6.08656762, 11.52404653, 86.8689503 ,
       83.86426724, 85.51294867, 84.0390388 , 63.459936  , 66.29831682,
        2.71439801, 19.77098846, 39.1850786 ,  4.86581204,  1.90667665,
       66.74720631, 46.18335418, 45.78431043, 90.67480736, 55.63143986,
       61.83871939, 78.48672255, 49.2120307 , 44.89662475, 51.63459923,
       10.1719404 , 66.10438968,  9.1798681 , 34.57105932, 61.74796016,
       68.18237662, 46.50462941, 61.82232218, 12.04241485,  5.73861132,
       40.36070429, 22.89818417, 35.35154333, 46.13605824, 46.89525867,
       25.04963123,  5.38573203, 62.14520206, 47.2539875 , 98.78984214,
       68.03341946, 85.68682028,  5.35049009, 29.22834094, 76.60774559,
       68.80409322, 54.17621457, 93.44336377, 46.67997664, 89.52699724,
       58.17305244, 12.36153714, 28.65976207, 46.49625098,  4.70071125,
       46.05144398, 96.50863893, 11.88214724,  9.21186747, 14.41093543,
       24.54625784, 25.09998316, 56.23798686,  1.68784701, 17.20998808,
       79.33025533, 33.97084689,  1.38635325, 98.8299459 ,  3.49114212,
       15.67271601, 92.74917008, 51.17439513, 81.0302162 ,  6.29301401,
       35.9452012 , 84.92556564, 20.74979479, 49.69797591, 42.74078475,
       80.82998655, 99.07739901, 88.36521753, 48.07676805, 37.67506657,
       69.89457924,  7.13591432, 11.65932978, 47.74864   , 90.75187843,
       21.74725194, 42.32201746, 73.91689936, 59.84737624, 98.97229021,
       85.40344418, 92.76662447, 44.66559319, 26.81202198, 80.88840653,
        3.85706369, 59.85363367, 37.50291252, 83.78115531, 26.33943677,
       30.60598425,  8.60384596, 64.75803742, 39.60943686, 80.65892159,
       60.82234464, 11.15657447, 53.0841956 , 22.37995493, 21.60085418,
       32.69130328, 32.41259845, 72.22541968,  4.20981265, 48.0373609 ,
       39.37663059, 79.45387528, 45.87106205, 72.40220743, 83.33758334,
       21.98242571, 45.3246989 , 58.23582456, 87.91971041, 13.21090982,
       62.9330664 , 82.23897009, 66.35847113, 37.12512088, 99.05715082,
       89.16782491, 10.50265857, 44.59730044, 86.66488661, 45.45180939,
       22.02058223, 71.9938511 , 60.89454981, 16.49262736, 87.0014929 ,
       62.45464246,  2.64496398, 27.76289193,  7.57346888, 40.79806175,
       69.72501581, 48.19805642, 86.87945039, 53.36610681, 97.13982489,
       72.88574213, 30.75876394, 49.2555218 , 36.1852581 , 15.50505378,
       46.86547837, 64.81136961,  7.12308906, 76.69076952, 46.68658874,
        9.37074186, 87.24215584, 57.02898652, 29.81628753, 33.48986194,
       91.12470994, 46.07150511, 72.63568399, 91.51620555, 40.15816222,
       47.88227366, 96.59704553, 22.67372675, 90.55322823, 69.28856253,
       40.25284723, 90.59344219, 86.78820159, 72.86663954, 89.15168906,
       22.0541697 , 56.49370366,  7.83975829, 80.48465211, 52.68963524,
       13.73780741, 44.27027514, 44.71266676, 43.33974208, 37.30267562,
       19.18948468, 46.38242878, 78.25121769, 40.84997048, 12.14457178,
       56.85985129, 43.20804082, 11.64283276, 46.32853672, 64.10785433,
       48.95458929, 77.69986848, 30.12594405, 62.05856011, 13.02343668,
        9.52353179, 54.01816444, 67.26973796, 67.0261373 , 99.31473983,
        9.30004604, 43.99600669, 12.09111342, 19.13690739,  4.66315485,
       37.73521835, 25.82052282, 87.21135212, 44.3694877 , 25.26238678,
       13.99746382, 21.67739481, 69.87803825, 78.11886141,  7.79775027,
       31.15577306, 41.69366122, 54.37395688, 49.54549046, 80.05543383,
       87.24820388, 72.77645991, 99.6146247 , 52.56488622,  6.97321201,
        6.33977832, 74.40062698, 62.53139078, 71.00797412, 90.03216563,
       83.16632509, 42.27941409,  9.24551927, 50.27717621, 48.03257786,
       33.89932695, 79.49765923,  7.84121907, 11.030063  , 67.31905927,
       37.19108463, 61.34769124,  9.37523408, 97.16801979,  4.27801127,
       28.88962279, 52.3522912 , 78.52531406,  8.76880357, 23.39325742,
       10.98872721, 55.82936975, 54.74806634, 42.74190458, 39.16321381,
       29.48280923, 82.81623909, 18.03329917, 95.84249761, 10.26630975,
       95.71764077, 31.11711937, 90.31706325, 13.9339667 , 82.75087448,
       47.80613734,  6.66289161, 16.70934009, 31.36443187, 16.62516816,
       54.49621925, 30.72907977, 73.92249929, 95.71395155,  8.09930958,
       28.8083085 ,  6.97304073, 58.10916914, 34.077606  , 94.26493628,
       91.10355284, 87.54175677, 28.28823167, 20.49611345, 62.99011225,
       39.38897674, 81.84699723, 76.59930899, 37.67847667,  4.66343844,
       33.91418326, 46.64815304, 96.9613908 , 69.81841655,  8.05596461,
       51.11068864,  3.16599455,  9.47578701, 94.83596644,  4.7997893 ,
       20.57737096, 70.89527032, 36.94829239,  9.93870991,  1.46536338,
       22.89781648, 75.78071933, 33.27471764, 53.53065307, 52.35467262,
       30.26891155, 66.2755079 , 70.6920046 , 40.0951513 , 26.23736609,
       47.12292609, 93.37612746, 45.31336391, 16.27184482, 74.79605939,
       23.66580739, 39.87901553, 11.51362206, 19.03294554, 42.02021148,
       49.1402219 , 66.38200503, 87.9932874 , 44.20902056, 88.31102332,
       30.86018331, 84.10140789, 98.35056191, 92.73139174, 28.44792706])

### 3. adding a new column using 'assign()'

In [73]:
score1 = np.random.randint(1, 100, size=1000)
score2 = np.random.randint(1, 100, size=1000)

In [74]:
series1 = pd.Series(score1, index=np.arange(0,1000))
series2 = pd.Series(score2, index=np.arange(0,1000))

In [75]:
# using assign() to add the two columns to the dataframe

df_exams = df_exams.assign(score1 = series1, score2 = series2)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,54,26,54
1,female,group C,some college,standard,completed,69,90,88,17,48,15
2,female,group B,master's degree,standard,none,90,95,93,70,25,40
3,male,group A,associate's degree,free/reduced,none,47,57,44,78,90,41
4,male,group C,some college,standard,none,76,78,75,4,41,52
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,54,67,29
996,male,group C,high school,free/reduced,none,62,55,55,91,53,37
997,female,group C,high school,free/reduced,completed,59,71,65,61,75,64
998,female,group D,some college,standard,completed,68,78,77,64,34,64
999,female,group D,some college,free/reduced,none,77,86,86,97,81,75

### 4. adding a new column using insert()

In [76]:
score3 = np.random.randint(1, 100, size=1000)
series3 = pd.Series(score3, index=np.arange(0,1000))
series3

0      19
1      45
2      90
3      72
4      11
       ..
995    37
996    35
997     3
998    97
999    72
Length: 1000, dtype: int32

In [78]:
df_exams.insert(1, 'series3', series3)

In [79]:
df_exams

,gender,series3,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2
0,female,19,group B,bachelor's degree,standard,none,72,72,74,54,26,54
1,female,45,group C,some college,standard,completed,69,90,88,17,48,15
2,female,90,group B,master's degree,standard,none,90,95,93,70,25,40
3,male,72,group A,associate's degree,free/reduced,none,47,57,44,78,90,41
4,male,11,group C,some college,standard,none,76,78,75,4,41,52
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,37,group E,master's degree,standard,completed,88,99,95,54,67,29
996,male,35,group C,high school,free/reduced,none,62,55,55,91,53,37
997,female,3,group C,high school,free/reduced,completed,59,71,65,61,75,64
998,female,97,group D,some college,standard,completed,68,78,77,64,34,64
999,female,72,group D,some college,free/reduced,none,77,86,86,97,81,75