In [8]:
import pandas as pd

## Read a .csv from a URL with pandas

Target Website: https://www.football-data.co.uk/data.php

In [9]:
# reading 1 csv file from the website and show the data

epl2526 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')
epl2526.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [10]:
# rename columns

epl2526.rename(columns={
    'FTHG': 'Home Goals',
    'FTAG':'Away Goals'
}, inplace=True)

epl2526.head()

,Div,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

## Read a .csv from Multiple URLs with pandas

Aim: to get the data from any of the leagues in england (premier, championship, league 1, league 2, conference) for the 2025/2026 season

In [13]:
root = 'https://www.football-data.co.uk/mmz4281/'

leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

# loop through the leagues, read multiple csv and append it into a list

for league in leagues:
    df = pd.read_csv(root + '2526' + '/' + league + '.csv')
    frames.append(df)

In [ ]:


len(frames)
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,E0,30/12/2025,20:15,Man United,Wolves,1,1,D,1,1,...,1.85,2.00,1.87,2.06,1.85,2.06,1.77,2.01,1.92,2.05
186,E0,01/01/2026,17:30,Crystal Palace,Fulham,1,1,D,1,0,...,1.90,1.95,1.96,1.96,1.91,1.95,1.88,1.90,2.02,1.95
187,E0,01/01/2026,17:30,Liverpool,Leeds,0,0,D,0,0,...,1.75,2.05,1.82,2.13,1.77,2.07,1.74,2.05,1.84,2.16
188,E0,01/01/2026,20:00,Brentford,Tottenham,0,0,D,0,0,...,1.73,2.08,1.82,2.13,1.80,2.08,1.74,2.02,1.83,2.19
189,E0,01/01/2026,20:00,Sunderland,Man City,0,0,D,0,0,...,1.88,1.98,1.89,2.04,1.93,1.98,1.86,1.92,1.92,2.06

### Now to extract data for multiple seasons

In [21]:
for season in range(15,26):
    print(str(season) + str(season + 1))

1516
1617
1718
1819
1920
2021
2122
2223
2324
2425
2526

In [30]:
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []


# loop through the leagues, read multiple csv and append it into a list

for league in leagues:
    for season in range(20, 26):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + league + '.csv', encoding='unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)

In [36]:
# check the first and last elements of 'frames'

frames[0].head()
frames[-1].head()

,ï»¿Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,25,09/08/2025,15:00,Altrincham,Aldershot,3,2,H,2,...,1.90,1.90,1.92,1.93,1.90,1.90,1.86,1.84,2.00,1.99
1,EC,25,09/08/2025,15:00,Boreham Wood,Rochdale,0,2,A,0,...,2.00,1.80,2.05,1.82,2.02,1.80,1.96,1.75,2.06,1.89
2,EC,25,09/08/2025,15:00,Brackley Town,Eastleigh,1,0,H,1,...,2.00,1.80,2.14,1.72,2.03,1.80,1.96,1.75,2.06,1.84
3,EC,25,09/08/2025,15:00,Braintree Town,Halifax,3,0,H,2,...,1.93,1.88,1.97,1.88,1.93,1.88,1.88,1.82,1.97,1.98
4,EC,25,09/08/2025,15:00,Gateshead,Southend,0,3,A,0,...,1.83,1.98,1.67,2.19,1.83,2.04,1.75,1.96,1.84,2.12

### 3. Organize all the data in a dictionary

In [42]:
# create a dictionary with the original name of the leagues as the key

dict_countries = {
    'Spanish La liga' : 'SP1',
    'Spanish Segunda Division' : 'SP2',
    'German Bundesliga' : 'D1',
    'German 2. Bundesliga' : 'D2',
    'English Premier League' : 'E0',
    'English Championship' : 'E1'
}

In [44]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
D2
E0
E1

In [46]:
dict_historical_data = {}

# creating list of leagues
leagues = ['E0', 'E1']



# loop through the leagues, read multiple csv and append it into a list

for league in dict_countries:
    frames = []
    for season in range(20, 26):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + dict_countries[league] + '.csv', encoding='unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [51]:
dict_historical_data['English Premier League']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E0,20,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,20,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,20,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,20,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,20,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,NaN,25,30/12/2025,20:15,Man United,Wolves,1,1,D,1,...,8.50,1.36,5.0,8.0,1.36,5.00,7.00,1.36,5.0,7.00
186,NaN,25,01/01/2026,17:30,Crystal Palace,Fulham,1,1,D,1,...,3.35,2.20,3.4,3.3,2.20,3.25,3.30,2.20,3.2,3.30
187,NaN,25,01/01/2026,17:30,Liverpool,Leeds,0,0,D,0,...,6.75,1.45,4.5,7.0,1.48,4.50,6.50,1.48,4.4,6.50
188,NaN,25,01/01/2026,20:00,Brentford,Tottenham,0,0,D,0,...,3.00,2.45,3.4,2.8,2.30,3.40,3.00,2.30,3.4,2.90
189,NaN,25,01/01/2026,20:00,Sunderland,Man City,0,0,D,0,...,1.43,7.50,4.8,1.4,6.50,4.60,1.44,6.50,4.6,1.44