In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall']]
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91

### 1. Set value to one cell

In [5]:
# update L. Messi height

df.loc['L. Messi', 'height_cm'] = 175
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,72,Argentina,FC Barcelona,94
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91

### 2. Set value to an entire column

In [6]:
# set height of all players to 190

df.loc[:, 'height_cm'] = 190
df

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,190,72,Argentina,FC Barcelona,94
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,190,83,Portugal,Juventus,93
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain,92
J. Oblak,Jan Oblak,26,1993-01-07,190,87,Slovenia,Atlético Madrid,91
E. Hazard,Eden Hazard,28,1991-01-07,190,74,Belgium,Real Madrid,91
...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,190,79,China PR,Beijing Renhe FC,48
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,190,66,China PR,Shanghai SIPG FC,48
Zhang Wei,张威,19,2000-05-16,190,75,China PR,Hebei China Fortune FC,48
Wang Haijian,汪海健,18,2000-08-02,190,74,China PR,Shanghai Greenland Shenhua FC,48
Pan Ximing,潘喜明,26,1993-01-11,190,78,China PR,Hebei China Fortune FC,48

### 3. Set value to entire row

In [7]:
# get all the columns that correspond to player ranked last in FIFA

df.loc['Pan Ximing', :]

# or

df.iloc[-1, :]

long_name                         潘喜明
age                                26
dob                        1993-01-11
height_cm                         190
weight_kg                          78
nationality                  China PR
club           Hebei China Fortune FC
overall                            48
Name: Pan Ximing, dtype: object

In [11]:
# set null values to all columns that corresponds to player ranked last

import numpy as np
np.nan

df.iloc[-1, :] = np.nan

In [12]:
# show dataframe

df.tail(5)

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall
short_name,,,,,,,,
Shao Shuai,邵帅,22.0,1997-03-10,190.0,79.0,China PR,Beijing Renhe FC,48.0
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,190.0,66.0,China PR,Shanghai SIPG FC,48.0
Zhang Wei,张威,19.0,2000-05-16,190.0,75.0,China PR,Hebei China Fortune FC,48.0
Wang Haijian,汪海健,18.0,2000-08-02,190.0,74.0,China PR,Shanghai Greenland Shenhua FC,48.0
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4. Set value to multiple cells

In [13]:
# Set value for all items matching the list of labels

df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm']] = 175

In [14]:
# show dataframe
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club,overall
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona,94.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,190.0,68.0,Brazil,Paris Saint-Germain,92.0
J. Oblak,Jan Oblak,26.0,1993-01-07,190.0,87.0,Slovenia,Atlético Madrid,91.0
E. Hazard,Eden Hazard,28.0,1991-01-07,190.0,74.0,Belgium,Real Madrid,91.0

### 5. Set value for rows matching a condition

In [17]:
# set value for rows matching a condition
columns = ['age', 'dob', 'height_cm', 'weight_kg']

# for this example, we want to set a value for rows of players having a height above 180cm

df.loc[df['height_cm'] > 180, columns]

                age         dob  height_cm  weight_kg
short_name
Neymar Jr      27.0  1992-02-05      190.0       68.0
J. Oblak       26.0  1993-01-07      190.0       87.0
E. Hazard      28.0  1991-01-07      190.0       74.0
K. De Bruyne   28.0  1991-06-28      190.0       70.0
M. ter Stegen  27.0  1992-04-30      190.0       85.0
...             ...         ...        ...        ...
P. Martin      20.0  1999-01-05      190.0       84.0
Shao Shuai     22.0  1997-03-10      190.0       79.0
Xiao Mingjie   22.0  1997-01-01      190.0       66.0
Zhang Wei      19.0  2000-05-16      190.0       75.0
Wang Haijian   18.0  2000-08-02      190.0       74.0

[18275 rows x 4 columns]